@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
:root {
  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #ff4757;
  --clr-primary-a10: #ff6268;
  --clr-primary-a20: #ff7979;
  --clr-primary-a30: #ff8e8b;
  --clr-primary-a40: #ffa29e;
  --clr-primary-a50: #ffb5b0;

  /** Theme surface colors */
  --clr-surface-a0: #121212;
  --clr-surface-a10: #282828;
  --clr-surface-a20: #3f3f3f;
  --clr-surface-a30: #575757;
  --clr-surface-a40: #717171;
  --clr-surface-a50: #8b8b8b;

  /* Fonts Family */
  --font-primary: "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-secondary: "Alan Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* Header */
  --header-height: 60px;
}
html {
  scroll-behavior: smooth;
  scrollbar-color: var(--clr-primary-a20);
}
body {
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--clr-surface-a0);
  color: var(--clr-light-a0);
}
::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary-a20);
}
::selection {
  background-color: var(--clr-primary-a40);
  color: var(--clr-dark-a0);
}
.btn {
  padding: 0.2em 1em;
  background-color: transparent;
  color: var(--clr-primary-a20);
  border: none;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--clr-primary-a20);
  transition: all 0.3s ease;
}
.btn:hover {
  background: var(--clr-primary-a20);
  font-weight: 500;
  color: #121212;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}
body > * {
  padding: 0 1rem;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 2px solid var(--clr-surface-a10);
  scroll-margin-top: var(--header-height); /* adjust to your header’s height */
}
/* Navbar */
.header {
  padding: 0rem 1rem;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background: var(--clr-surface-a0);
  top: 0;
  z-index: 1000;
}
.header .logo {
  font-weight: 800;
  font-size: 1.575rem;
  font-family: var(--font-primary);
}
.header .logo span {
  color: var(--clr-primary-a0);
}
/* Navbar */
.header .nav-list {
  display: flex;
  gap: 1rem;
  color: var(--clr-surface-a50);
}
.header .nav-list a {
  font-weight: 600;
  padding: 0.5em;
}
.header .nav-list .active {
  color: var(--clr-primary-a20);
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  transform: scale(0.8);
  padding: 0.5rem;
}

.hamburger span {
  width: 25px;
  height: 4px;
  background: var(--clr-light-a0);
  border-radius: 2px;
  transition: 0.3s;
}
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
@media screen and (max-width: 900px) {
  .hamburger {
    display: flex;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - var(--header-height));
    overflow: hidden;
    z-index: -100;
  }
  .navbar .nav-list {
    position: relative;
    height: 90%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    z-index: 1;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
  }
  .navbar::before {
    content: "";
    position: absolute;
    top: -25%; /* start from top-left corner */
    right: -25%;
    width: 200px;
    height: 200px;
    background: var(--clr-surface-a0);
    border-radius: 50%;
    transform: scale(0); /* expand ripple to cover screen */
    transition: transform 1s ease-out;
  }
  .navbar.open::before {
    transform: scale(30);
  }

  .navbar.open .nav-list {
    transform: translateY(0);
  }
}

/* Hero Section */
.hero {
  display: flex;
  flex-flow: row wrap-reverse;
  min-height: 80vh;
  align-items: center;
}
.hero > * {
  flex: 1;
  display: flex;
  align-items: center;
  min-width: fit-content;
  padding: 1rem;
}
.hero-picture {
  justify-content: center;
}
.hero-picture img {
  width: min(65vw, 400px);
  border-radius: 47% 53% 59% 41% / 55% 54% 46% 45%;
}
.hero-content {
  display: initial;
}
.hero-content > * {
  margin-bottom: 0.2em;
}
.hero-content .hero-heading {
  font-size: 2.5rem;
  line-height: 1.2;
}
.hero-content .hero-heading span {
  color: var(--clr-primary-a0);
  font-family: var(--font-primary);
  font-weight: 800;
  font-size: 4rem;
  display: block;
}
.hero-content .hero-sub-heading {
  margin-bottom: 0.5em;
}
.hero-content .hero-para {
  color: var(--clr-surface-a50);
}
.hero-content .btn {
  margin: 1rem 0;
}
/* Sections */
.section-heading {
  font-size: 2rem;
}
.section-heading span {
  color: var(--clr-primary-a0);
  font-size: 2.5rem;
}
.section-content {
  padding: 1rem;
}
.section-content > * {
  margin-bottom: 0.2em;
}
.section-para {
  color: var(--clr-surface-a50);
}
/* Projects Section */
.projects {
  min-height: 100vh;
}

/* Contact Section */
.contact-info {
  margin: 0;
  padding: 0.5rem;
}
.contact-info p {
  color: var(--clr-primary-a30);
}
.contact-info strong {
  color: var(--clr-light-a0);
}
.contact-info .social-links {
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}
.contact-info .social-links a i {
  font-size: 1.5rem;
  padding: 0.3em;
}
.contact-info .social-links a:hover i {
  color: var(--clr-primary-a20);
}
